
@{
    ViewData["Title"] = "AboutUs";
}

<!-- breadcrumb start -->
<section class="breadcrumb-section pt-0">
    <img src="~/images/inner-bg.jpg" class="bg-img img-fluid blur-up lazyload" alt="">
    <div class="breadcrumb-content">
        <div>
            <h2>about us</h2>
            <nav aria-label="breadcrumb" class="theme-breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">about us</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="title-breadcrumb">Rica</div>
</section>
<!-- breadcrumb end -->
<!-- breadcrumb end -->
<!-- about section start -->
<section class="about-section three-image about_page animated-section section-b-space">
    <div class="animation-section">
        <div class="cross po-1"></div>
        <div class="cross po-2"></div>
        <div class="cross po-3"></div>
        <div class="round po-4"></div>
        <div class="round po-5"></div>
        <div class="round r-2 po-6"></div>
        <div class="round r-2 po-7"></div>
        <div class="round r-y po-8"></div>
        <div class="round r-y po-9"></div>
        <div class="square po-10"></div>
        <div class="square po-11"></div>
        <div class="square s-2 po-12"></div>
    </div>
    <div class="container">
        <div class="title-1">
            <span class="title-label">rica</span>
            <h2>about us</h2>
        </div>
        <div class="row">
            <div class="col-xl-7">
                <div class="image-section">
                    <div class="img-box">
                        <img src="~/images/inner-pages/about/1.jpg" data-tilt data-tilt-perspective="110"
                             data-tilt-speed="400" data-tilt-max="1.2" class="img-fluid blur-up lazyload" alt="">
                        <div class="title-box">
                            <h3>Venezuela</h3>
                            <h6>water fall</h6>
                        </div>
                    </div>
                    <div class="img-box">
                        <img src="~/images/inner-pages/about/2.jpg" data-tilt data-tilt-perspective="110"
                             data-tilt-speed="400" data-tilt-max="1.2" class="img-fluid blur-up lazyload" alt="">
                        <div class="title-box">
                            <h3>Shillong</h3>
                            <h6>paragliding</h6>
                        </div>
                    </div>
                    <div class="img-box">
                        <img src="~/images/inner-pages/about/3.jpg" data-tilt data-tilt-perspective="110"
                             data-tilt-speed="400" data-tilt-max="1.2" class="img-fluid blur-up lazyload" alt="">
                        <div class="title-box">
                            <h3>Berlin</h3>
                            <h6>River Front</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-5">
                <div class="about-text">
                    <div>
                        <div class="title-3">
                            <span class="title-label">introduction</span>
                        </div>
                        <h5><span>multipurpose theme</span></h5>
                        <h2>welcome to rica </h2>
                        <p>
                            Lorem Ipsum is the simply dummy text of the printing is of and type the setting the
                            industry.
                            Lorem Ipsum of is has since the 1500s, Lorem Ipsum has been the.....
                        </p>
                        <img src="~/images/mix/signature.png" class="img-fluid blur-up lazyload" alt="">
                        <div class="buttons-about">
                            <a href="#" class="btn btn-lower btn-curve">view more</a>
                            <a href="#" class="btn btn-lower black-btn btn-curve">contact us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about section end -->
<!--  facts section start -->
<section class="facts-section animated-section section-b-space">
    <img src="~/images/cab/grey-bg.jpg" alt="" class="img-fluid blur-up lazyload bg-img">
    <div class="animation-section">
        <div class="cross po-1"></div>
        <div class="cross po-2"></div>
        <div class="cross po-3"></div>
        <div class="round po-4"></div>
        <div class="round po-5"></div>
        <div class="round r-2 po-6"></div>
        <div class="round r-2 po-7"></div>
        <div class="round r-y po-8"></div>
        <div class="round r-y po-9"></div>
        <div class="square po-10"></div>
        <div class="square po-11"></div>
        <div class="square s-2 po-12"></div>
    </div>
    <div class="container">
        <div class="title-1">
            <span class="title-label">rica</span>
            <h2>no stories, facts only</h2>
        </div>
        <div class="row">
            <div class="col-lg-3 col-6">
                <div class="facts-box">
                    <div>
                        <div class="img">
                            <img src="~/images/icon/facts/1.png" class="img-fluid blur-up lazyload" alt="">
                        </div>
                        <h3 class="counter">2745</h3>
                        <h6>happy client</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="facts-box">
                    <div>
                        <div class="img">
                            <img src="~/images/icon/facts/2.png" class="img-fluid blur-up lazyload" alt="">
                        </div>
                        <h3 class="counter">953</h3>
                        <h6>complete tour</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="facts-box">
                    <div>
                        <div class="img">
                            <img src="~/images/icon/facts/3.png" class="img-fluid blur-up lazyload" alt="">
                        </div>
                        <h3 class="counter">450</h3>
                        <h6>guiders</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="facts-box">
                    <div>
                        <div class="img">
                            <img src="~/images/icon/facts/4.png" class="img-fluid blur-up lazyload" alt="">
                        </div>
                        <h3 class="counter">180</h3>
                        <h6>tour country</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- facts section end -->
<!--  team section start -->
<section class="team-section animated-section section-b-space">
    <img src="~/images/cab/grey-bg.jpg" alt="" class="img-fluid blur-up lazyload bg-img">
    <div class="animation-section">
        <div class="cross po-1"></div>
        <div class="cross po-2"></div>
        <div class="cross po-3"></div>
        <div class="round po-4"></div>
        <div class="round po-5"></div>
        <div class="round r-2 po-6"></div>
        <div class="round r-2 po-7"></div>
        <div class="round r-y po-8"></div>
        <div class="round r-y po-9"></div>
        <div class="square po-10"></div>
        <div class="square po-11"></div>
        <div class="square s-2 po-12"></div>
    </div>
    <div class="container">
        <div class="title-1">
            <span class="title-label">rica</span>
            <h2>our team</h2>
        </div>
        <div class="row">
            <div class="col">
                <div class="team-slider no-arrow">
                    <div>
                        <div class="team-box">
                            <div class="img-part">
                                <img src="~/images/inner-pages/team/1.jpg"
                                     class="img-fluid blur-up lazyload" alt="">
                            </div>
                            <div class="team-content">
                                <h3>Julia Holmes</h3>
                                <h6>CEO</h6>
                            </div>
                            <div class="team-social">
                                <a href="#" class="social-box">
                                    <img src="~/images/icon/social/google.png"
                                         class="img-fluid blur-up lazyload" alt="">
                                </a>
                                <a href="#" class="social-box">
                                    <img src="~/images/icon/social/twitter.png"
                                         class="img-fluid blur-up lazyload" alt="">
                                </a>
                                <a href="#" class="social-box">
                                    <img src="~/images/icon/social/facebook.png"
                                         class="img-fluid blur-up lazyload" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="team-box">
                            <div class="img-part">
                                <img src="~/images/inner-pages/team/2.jpg"
                                     class="img-fluid blur-up lazyload" alt="">
                            </div>
                            <div class="team-content">
                                <h3>Lucas Smith</h3>
                                <h6>marketing</h6>
                            </div>
                            <div class="team-social">
                                <a href="#" class="social-box">
                                    <img src="~/images/icon/social/google.png"
                                         class="img-fluid blur-up lazyload" alt="">
                                </a>
                                <a href="#" class="social-box">
                                    <img src="~/images/icon/social/twitter.png"
                                         class="img-fluid blur-up lazyload" alt="">
                                </a>
                                <a href="#" class="social-box">
                                    <img src="~/images/icon/social/facebook.png"
                                         class="img-fluid blur-up lazyload" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="team-box">
                            <div class="img-part">
                                <img src="~/images/inner-pages/team/3.jpg"
                                     class="img-fluid blur-up lazyload" alt="">
                            </div>
                            <div class="team-content">
                                <h3>Pablo Himenez</h3>
                                <h6>customer service</h6>
                            </div>
                            <div class="team-social">
                                <a href="#" class="social-box">
                                    <img src="~/images/icon/social/google.png"
                                         class="img-fluid blur-up lazyload" alt="">
                                </a>
                                <a href="#" class="social-box">
                                    <img src="~/images/icon/social/twitter.png"
                                         class="img-fluid blur-up lazyload" alt="">
                                </a>
                                <a href="#" class="social-box">
                                    <img src="~/images/icon/social/facebook.png"
                                         class="img-fluid blur-up lazyload" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="team-box">
                            <div class="img-part">
                                <img src="~/images/inner-pages/team/2.jpg"
                                     class="img-fluid blur-up lazyload" alt="">
                            </div>
                            <div class="team-content">
                                <h3>Lucas Smith</h3>
                                <h6>marketing</h6>
                            </div>
                            <div class="team-social">
                                <a href="#" class="social-box">
                                    <img src="~/images/icon/social/google.png"
                                         class="img-fluid blur-up lazyload" alt="">
                                </a>
                                <a href="#" class="social-box">
                                    <img src="~/images/icon/social/twitter.png"
                                         class="img-fluid blur-up lazyload" alt="">
                                </a>
                                <a href="#" class="social-box">
                                    <img src="~/images/icon/social/facebook.png"
                                         class="img-fluid blur-up lazyload" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- team section end -->
<!-- testimonial section start -->
<section class="testimonial-section  animated-section">
    <div class="animation-section">
        <div class="cross po-2"></div>
        <div class="round po-5"></div>
        <div class="round r-2 po-6"></div>
        <div class="round r-2 po-7"></div>
        <div class="round r-y po-8"></div>
        <div class="square po-10"></div>
        <div class="square s-2 po-12"></div>
    </div>
    <div class="container ">
        <div class="title-3">
            <span class="title-label">our</span>
            <h2>our happy customer<span>customer</span></h2>
        </div>
        <div class="slide-1">
            <div>
                <div class="row">
                    <div class="col-xl-8 offset-xl-2">
                        <div class="testimonial">
                            <div class="left-part">
                                <img src="~/images/avtar/1.jpg" class="img-fluid blur-up lazyload" alt="">
                                <div class="design">
                                    <i class="fas fa-comments"></i>
                                    <i class="fas fa-comments light"></i>
                                </div>
                            </div>
                            <div class="right-part">
                                <p>
                                    "When you innovate, you make mistakes.It is best to admit them quickly, & get on
                                    with improving your other innovations."
                                </p>
                                <div class="detail">
                                    <div class="rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="far fa-star"></i>
                                    </div>
                                    <h6>lara denal</h6>
                                </div>
                            </div>
                            <div class="quote-icon">
                                <i class="fas fa-quote-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="row">
                    <div class="col-xl-8 offset-xl-2">
                        <div class="testimonial">
                            <div class="left-part">
                                <img src="~/images/avtar/2.jpg" class="img-fluid blur-up lazyload" alt="">
                                <div class="design">
                                    <i class="fas fa-comments"></i>
                                    <i class="fas fa-comments light"></i>
                                </div>
                            </div>
                            <div class="right-part">
                                <p>
                                    "When you innovate, you make mistakes.It is best to admit them quickly, & get on
                                    with improving your other innovations."
                                </p>
                                <div class="detail">
                                    <div class="rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="far fa-star"></i>
                                    </div>
                                    <h6>denal lara</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="row">
                    <div class="col-xl-8 offset-xl-2">
                        <div class="testimonial">
                            <div class="left-part">
                                <img src="~/images/avtar/3.jpg" class="img-fluid blur-up lazyload" alt="">
                                <div class="design">
                                    <i class="fas fa-comments"></i>
                                    <i class="fas fa-comments light"></i>
                                </div>
                            </div>
                            <div class="right-part">
                                <p>
                                    "When you innovate, you make mistakes.It is best to admit them quickly, & get on
                                    with improving your other innovations."
                                </p>
                                <div class="detail">
                                    <div class="rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="far fa-star"></i>
                                    </div>
                                    <h6>denal lara</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- testimonial section end -->
<!-- blog section start -->
<section class="blog_section inner-blog animated-section section-b-space ratio_55">
    <div class="animation-section">
        <div class="cross po-1"></div>
        <div class="cross po-2"></div>
        <div class="cross po-3"></div>
        <div class="round po-4"></div>
        <div class="round po-5"></div>
        <div class="round r-2 po-6"></div>
        <div class="round r-2 po-7"></div>
        <div class="round r-y po-8"></div>
        <div class="round r-y po-9"></div>
        <div class="square po-10"></div>
        <div class="square po-11"></div>
        <div class="square s-2 po-12"></div>
    </div>
    <div class="container">
        <div class="title-1">
            <span class="title-label">rica</span>
            <h2>latest blog</h2>
        </div>
        <div class="slide-3 no-arrow">
            <div>
                <div class="blog-wrap">
                    <div class="blog-image">
                        <div>
                            <img src="~/images/flights/blog/1.jpg" class="img-fluid blur-up lazyload bg-img"
                                 alt="">
                        </div>
                        <div class="blog-label">
                            <div>
                                <h3>05</h3>
                                <h6>nov</h6>
                            </div>
                        </div>
                    </div>
                    <div class="blog-details">
                        <h6><i class="fas fa-map-marker-alt"></i>phonics, newyork</h6>
                        <a href="#">
                            <h5>Twice profit than before you. </h5>

                        </a>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                            has been the industry's standard dummy text.
                        </p>
                    </div>
                </div>
            </div>
            <div>
                <div class="blog-wrap">
                    <div class="blog-image">
                        <div>
                            <img src="~/images/flights/blog/2.jpg" class="img-fluid blur-up lazyload bg-img"
                                 alt="">
                        </div>
                        <div class="blog-label">
                            <div>
                                <h3>05</h3>
                                <h6>nov</h6>
                            </div>
                        </div>
                    </div>
                    <div class="blog-details">
                        <h6><i class="fas fa-map-marker-alt"></i>phonics, newyork</h6>
                        <a href="#">
                            <h5>Twice profit than before you. </h5>

                        </a>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                            has been the industry's standard dummy text.
                        </p>
                    </div>
                </div>
            </div>
            <div>
                <div class="blog-wrap">
                    <div class="blog-image">
                        <div>
                            <img src="~/images/flights/blog/3.jpg" class="img-fluid blur-up lazyload bg-img"
                                 alt="">
                        </div>
                        <div class="blog-label">
                            <div>
                                <h3>05</h3>
                                <h6>nov</h6>
                            </div>
                        </div>
                    </div>
                    <div class="blog-details">
                        <h6><i class="fas fa-map-marker-alt"></i>phonics, newyork</h6>
                        <a href="#">
                            <h5>Twice profit than before you. </h5>

                        </a>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                            has been the industry's standard dummy text.
                        </p>
                    </div>
                </div>
            </div>
            <div>
                <div class="blog-wrap">
                    <div class="blog-image">
                        <div>
                            <img src="~/images/flights/blog/2.jpg" class="img-fluid blur-up lazyload bg-img"
                                 alt="">
                        </div>
                        <div class="blog-label">
                            <div>
                                <h3>05</h3>
                                <h6>nov</h6>
                            </div>
                        </div>
                    </div>
                    <div class="blog-details">
                        <h6><i class="fas fa-map-marker-alt"></i>phonics, newyork</h6>
                        <a href="#">
                            <h5>Twice profit than before you. </h5>

                        </a>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                            has been the industry's standard dummy text.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- blog section end -->
@section Head {
    <link rel="stylesheet" type="text/css" href="../assets/css/themify-icons.css">
}
@section Scripts {
    <script src="../assets/js/jquery.counterup.min.js"></script>
    <script src="../assets/js/jquery.waypoints.min.js"></script>
    <script src="../assets/js/tilt.jquery.js"></script>
    <script src="../assets/js/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
}