@model IEnumerable<ProductViewModel>
<!-- blog section start -->
<section class="blog-section section-b-space">
    <div class="container">
        <div class="slide-2  no-arrow ">
            <div>
                <div class="blog-box">
                    <div class="img-part">
                        <div>
                            <img src="~/images/tour/blog/1.jpg" class="img-fluid blur-up lazyload w-100"
                                 alt="">
                        </div>
                        <div class="blog-date">
                            <div>
                                <h5>01</h5>
                                <h6>jan</h6>
                            </div>
                        </div>
                    </div>
                    <div class="blog-content">
                        <div>
                            <h5>posted by: Julia Holmes</h5>
                            <p>Lorem Ipsum is simply the of the printing and dummy text of typesetting..</p>
                            <h6>Lorem Ipsum is simply dummy since..</h6>
                            <a href="#" class="btn btn-curve">read more</a>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="blog-box">
                    <div class="img-part">
                        <div>
                            <img src="~/images/tour/blog/2.jpg" class="img-fluid blur-up lazyload w-100"
                                 alt="">
                        </div>
                        <div class="blog-date">
                            <div>
                                <h5>24</h5>
                                <h6>feb</h6>
                            </div>
                        </div>
                    </div>
                    <div class="blog-content">
                        <div>
                            <h5>posted by: Julia Holmes</h5>
                            <p>Lorem Ipsum is simply the of the printing and dummy text of typesetting..</p>
                            <h6>Lorem Ipsum is simply dummy since..</h6>
                            <a href="#" class="btn btn-curve">read more</a>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="blog-box">
                    <div class="img-part">
                        <div>
                            <img src="~/images/tour/blog/3.jpg" class="img-fluid blur-up lazyload w-100"
                                 alt="">
                        </div>
                        <div class="blog-date">
                            <div>
                                <h5>27</h5>
                                <h6>aug</h6>
                            </div>
                        </div>
                    </div>
                    <div class="blog-content">
                        <div>
                            <h5>posted by: Julia Holmes</h5>
                            <p>Lorem Ipsum is simply the of the printing and dummy text of typesetting..</p>
                            <h6>Lorem Ipsum is simply dummy since..</h6>
                            <a href="#" class="btn btn-curve">read more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- blog section end -->
