@model IEnumerable<ProductViewModel>
<!-- tour section start -->
<section class="section-b-space layout-3">
    <div class="tourSection ratio_asos">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="title-3">
                        <span class="title-label">rica</span>
                        <h2>Explore through Themes<span>best</span></h2>
                    </div>
                    <div class="slide-6 no-arrow">
                        <div>
                            <div class="tourBox wow zoomIn">
                                <div class="tourImg">
                                    <img src="~/images/tour/vector/1.jpg"
                                         class="img-fluid blur-up lazyload bg-img" alt="">
                                </div>
                                <div class="tourContent">
                                    <h3>family</h3>
                                    <h6>100+ destination</h6>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="tourBox wow zoomIn">
                                <div class="tourImg">
                                    <img src="~/images/tour/vector/2.jpg"
                                         class="img-fluid blur-up lazyload bg-img" alt="">
                                </div>
                                <div class="tourContent">
                                    <h3>honeymoon</h3>
                                    <h6>15+ destination</h6>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="tourBox wow zoomIn">
                                <div class="tourImg">
                                    <img src="~/images/tour/vector/3.jpg"
                                         class="img-fluid blur-up lazyload bg-img" alt="">
                                </div>
                                <div class="tourContent">
                                    <h3>friends</h3>
                                    <h6>50+ destination</h6>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="tourBox wow zoomIn">
                                <div class="tourImg">
                                    <img src="~/images/tour/vector/4.jpg"
                                         class="img-fluid blur-up lazyload bg-img" alt="">
                                </div>
                                <div class="tourContent">
                                    <h3>solo traveller</h3>
                                    <h6>55+ destination</h6>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="tourBox wow zoomIn">
                                <div class="tourImg">
                                    <img src="~/images/tour/vector/5.jpg"
                                         class="img-fluid blur-up lazyload bg-img" alt="">
                                </div>
                                <div class="tourContent">
                                    <h3>adventure</h3>
                                    <h6>25+ destination</h6>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="tourBox wow zoomIn">
                                <div class="tourImg">
                                    <img src="~/images/tour/vector/6.jpg"
                                         class="img-fluid blur-up lazyload bg-img" alt="">
                                </div>
                                <div class="tourContent">
                                    <h3>nature</h3>
                                    <h6>15+ destination</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- tour section end -->