@model IEnumerable<ProductViewModel>
<!-- package section start-->
<section class="category-wrapper section-b-space">
    <div class="container">
        <div class="title-1 title-5">
            <span class="title-label">new offer</span>
            <h2>awesome package</h2>
            <p>Trips, experiences, and places. All in one service.</p>
        </div>
        <div class="row">
            <div class="col">
                <div class="slide-2 arrow-classic">
                    <div>
                        <div class="category-wrap">
                            <div class="category-img">
                                <a href="#">
                                    <img src="~/images/tour/tour/4.jpg" alt=""
                                         class="img-fluid blur-up lazyload">
                                </a>
                                <div class="side-effect"></div>
                            </div>
                            <div class="category-content">
                                <div>
                                    <div class="top">
                                        <a href="#">
                                            <h3>tour of shimala</h3>
                                        </a>
                                        <h6>group</h6>
                                    </div>
                                    <div class="rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="far fa-star"></i>
                                    </div>
                                    <p>
                                        Lorem Ipsum is simply dummy text of the printing and setting industry. Lorem
                                        Ipsum has been the industry's since....
                                    </p>
                                    <div class="bottom">
                                        <h3><del>$240</del>$200</h3>
                                        <h6 class="coupon-code">Coupon code: <span>EDR45</span></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="category-wrap">
                            <div class="category-img">
                                <a href="#">
                                    <img src="~/images/tour/tour/5.jpg" alt=""
                                         class="img-fluid blur-up lazyload">
                                </a>
                                <div class="side-effect"></div>
                            </div>
                            <div class="category-content">
                                <div>
                                    <div class="top">
                                        <a href="#">
                                            <h3>tour of shimala</h3>
                                        </a>
                                        <h6>group</h6>
                                    </div>
                                    <div class="rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="far fa-star"></i>
                                    </div>
                                    <p>
                                        Lorem Ipsum is simply dummy text of the printing and setting industry. Lorem
                                        Ipsum has been the industry's since....
                                    </p>
                                    <div class="bottom">
                                        <h3><del>$240</del>$200</h3>
                                        <h6 class="coupon-code">Coupon code: <span>EDR45</span></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="category-wrap">
                            <div class="category-img">
                                <a href="#">
                                    <img src="~/images/tour/tour/6.jpg" alt=""
                                         class="img-fluid blur-up lazyload">
                                </a>
                                <div class="side-effect"></div>
                            </div>
                            <div class="category-content">
                                <div class="top">
                                    <a href="#">
                                        <h3>tour of shimala</h3>
                                    </a>
                                    <h6>group</h6>
                                    <div class="like-cls">
                                        <i class="fas fa-heart"><span class="effect"></span></i>
                                    </div>
                                </div>
                                <div class="rating">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                </div>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and setting industry. Lorem
                                    Ipsum has been the industry's ard dummy text ever since the 1500s, when an
                                    unkn....
                                </p>
                                <div class="bottom">
                                    <h3><del>$240</del>$200</h3>
                                    <h6 class="coupon-code">Coupon code: <span>EDR45</span></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- package section end-->