
@{
    ViewData["Title"] = "Index";
}

<!-- breadcrumb start -->
<section class="breadcrumb-section effect-cls pt-0">
    <img src="~/images/tour/inner-page/breadcrumb.jpg" class="bg-img img-fluid blur-up lazyload" alt="">
    <div class="breadcrumb-content pt-0">
        <div>
            <h2>blog</h2>
            <nav aria-label="breadcrumb" class="theme-breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">blog</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="title-breadcrumb">Rica</div>
</section>
<!-- breadcrumb end -->
<!-- portfolio section start -->
<section class="portfolio-section bg-white small-section ratio2_3">
    <div class="container">
        <div class="row" data-sticky_parent>
            <div class="col-lg-9">
                <div class="row content grid blog-masonry mt-cls">
                    <div class="grid-item wow fadeInUp col-sm-6">
                        <div class="overlay">
                            <div class="portfolio-image">
                                <a href="#">
                                    <img src="~/images/portfolio/2.jpg" alt=""
                                         class="img-fluid blur-up lazyload">
                                </a>
                                <div class="blog-details">
                                    <h6>
                                        <i class="fas fa-map-marker-alt"></i> phonics, newyork
                                        <i class="fas fa-clock ml-2"></i> 20 april, 2019
                                    </h6>
                                    <a href="#">
                                        <h5>Twice profit than before you. </h5>

                                    </a>
                                    <p>
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        Lorem Ipsum
                                        has been the industry's standard dummy text...
                                    </p>
                                    <h6 class="link"><a href="#">read more</a></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item wow fadeInUp col-sm-6">
                        <div class="overlay">
                            <div class="portfolio-image">
                                <a href="#">
                                    <img src="~/images/tour/tour/9.jpg" alt=""
                                         class="img-fluid blur-up lazyload">
                                </a>
                            </div>
                            <div class="blog-details">
                                <h6>
                                    <i class="fas fa-map-marker-alt"></i> phonics, newyork
                                    <i class="fas fa-clock ml-2"></i> 20 april, 2019
                                </h6>
                                <a href="#">
                                    <h5>Twice profit than before you. </h5>

                                </a>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum
                                    has been the industry's standard dummy text...
                                </p>
                                <h6 class="link"><a href="#">read more</a></h6>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item wow fadeInUp col-sm-6">
                        <div class="overlay">
                            <div class="portfolio-image">
                                <a href="#">
                                    <img src="~/images/tour/tour/11.jpg" alt=""
                                         class="img-fluid blur-up lazyload">
                                </a>
                            </div>
                            <div class="blog-details">
                                <h6>
                                    <i class="fas fa-map-marker-alt"></i> phonics, newyork
                                    <i class="fas fa-clock ml-2"></i> 20 april, 2019
                                </h6>
                                <a href="#">
                                    <h5>Twice profit than before you. </h5>

                                </a>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum
                                    has been the industry's standard dummy text...
                                </p>
                                <h6 class="link"><a href="#">read more</a></h6>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item wow fadeInUp col-sm-6">
                        <div class="overlay">
                            <div class="portfolio-image">
                                <a href="#">
                                    <img src="~/images/tour/tour/14.jpg" alt=""
                                         class="img-fluid blur-up lazyload">
                                </a>
                            </div>
                            <div class="blog-details">
                                <h6>
                                    <i class="fas fa-map-marker-alt"></i> phonics, newyork
                                    <i class="fas fa-clock ml-2"></i> 20 april, 2019
                                </h6>
                                <a href="#">
                                    <h5>Twice profit than before you. </h5>

                                </a>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum
                                    has been the industry's standard dummy text...
                                </p>
                                <h6 class="link"><a href="#">read more</a></h6>
                            </div>
                        </div>
                    </div>
                </div>
                <nav aria-label="Page navigation example" class="pagination-section">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="javascript:void(0)" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li class="page-item active"><a class="page-link" href="javascript:void(0)">1</a></li>
                        <li class="page-item"><a class="page-link" href="javascript:void(0)">2</a></li>
                        <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3">
                <div class="sticky-cls-top">
                    <div class="blog-sidebar">
                        <div class="blog-wrapper">
                            <div class="search-bar">
                                <input type="text" placeholder="Search here..">
                                <i class="fas fa-search"></i>
                            </div>
                        </div>
                        <div class="blog-wrapper">
                            <div class="sidebar-title">
                                <h5>categories</h5>
                            </div>
                            <div class="sidebar-content">
                                <ul class="sidebar-list">
                                    <li class="">
                                        <a href="#">
                                            <i aria-hidden="true" class="fa fa-angle-right"></i>Lorem Ipsum Is
                                            Simple
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="#">
                                            <i aria-hidden="true" class="fa fa-angle-right"></i>Many Variations
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="#">
                                            <i aria-hidden="true" class="fa fa-angle-right"></i>random text
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="#">
                                            <i aria-hidden="true" class="fa fa-angle-right"></i>lorem ipsum.
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="#">
                                            <i aria-hidden="true" class="fa fa-angle-right m-r-15"></i>it's Random.
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="blog-wrapper">
                            <div class="sidebar-title">
                                <h5>popular post</h5>
                            </div>
                            <div class="sidebar-content">
                                <ul class="blog-post">
                                    <li>
                                        <div class="media">
                                            <img class="img-fluid blur-up lazyload"
                                                 src="~/images/portfolio/6.jpg"
                                                 alt="Generic placeholder image">
                                            <div class="media-body align-self-center">
                                                <div>
                                                    <h6>25 Dec 2018</h6>
                                                    <p>100 hits</p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="media">
                                            <img class="img-fluid blur-up lazyload"
                                                 src="~/images/portfolio/7.jpg"
                                                 alt="Generic placeholder image">
                                            <div class="media-body align-self-center">
                                                <div>
                                                    <h6>25 Dec 2018</h6>
                                                    <p>540 hits</p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="media">
                                            <img class="img-fluid blur-up lazyload"
                                                 src="~/images/portfolio/8.jpg"
                                                 alt="Generic placeholder image">
                                            <div class="media-body align-self-center">
                                                <div>
                                                    <h6>25 Dec 2018</h6>
                                                    <p>250 hits</p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="media">
                                            <img class="img-fluid blur-up lazyload"
                                                 src="~/images/portfolio/2.jpg"
                                                 alt="Generic placeholder image">
                                            <div class="media-body align-self-center">
                                                <div>
                                                    <h6>25 Dec 2018</h6>
                                                    <p>30 hits</p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="blog-wrapper">
                            <div class="sidebar-title">
                                <h5>popular tags</h5>
                            </div>
                            <div class="sidebar-content">
                                <ul class="tags">
                                    <li><a href="#">adventure</a></li>
                                    <li><a href="#">luxury</a></li>
                                    <li><a href="#">romantic</a></li>
                                    <li><a href="#">foodie</a></li>
                                    <li><a href="#">villas</a></li>
                                    <li><a href="#">cruise</a></li>
                                    <li><a href="#">shopping</a></li>
                                    <li><a href="#">beach</a></li>
                                    <li><a href="#">family</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- portfolio section end -->
