<!-- delete account modal start -->
<div class="modal fade edit-profile-modal" id="delete-account" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Account deletion request</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="text-dark">
                    Before you leave, please tell us why you'd like to delete your Rica account.
                    This information will help us improve. (optional)
                </p>
                <form>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-solid">delete my account</button>
            </div>
        </div>
    </div>
</div>
<!-- delete account modal end -->
