<!-- edit password modal start -->
<div class="modal fade edit-profile-modal" id="edit-password" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">change email address</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-row">
                        <div class="form-group col-12">
                            <label for="p-o">old password</label>
                            <input type="email" class="form-control" id="p-o">
                        </div>
                        <div class="form-group col-12">
                            <label for="p-n">enter new password</label>
                            <input type="email" class="form-control" id="p-n">
                        </div>
                        <div class="form-group col-12">
                            <label for="p-c">confirm your password</label>
                            <input type="email" class="form-control" id="p-c">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-solid">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!-- edit password modal start -->
<!-- edit password modal start -->
<div class="modal fade edit-profile-modal" id="edit-card" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">edit your card</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="name">name on card</label>
                        <input type="text" class="form-control" id="name" placeholder="Mark jecno">
                    </div>
                    <div class="form-group">
                        <label for="number">card number</label>
                        <input type="text" class="form-control" id="number" placeholder="7451 2154 2115 2510">
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-8">
                            <label for="expiry">expiry date</label>
                            <input type="text" class="form-control" id="expiry" placeholder="12/23">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="cvv">cvv</label>
                            <input type="password" maxlength="3" class="form-control" id="cvv"
                                   placeholder="&#9679;&#9679;&#9679;">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-solid">update card</button>
            </div>
        </div>
    </div>
</div>
<!-- edit password modal start -->
