<!-- edit address modal start -->
<div class="modal fade edit-profile-modal" id="edit-address" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">change email address</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-row">
                        <div class="form-group col-12">
                            <label for="old">old email</label>
                            <input type="email" class="form-control" id="old">
                        </div>
                        <div class="form-group col-12">
                            <label for="new">enter new email</label>
                            <input type="email" class="form-control" id="new">
                        </div>
                        <div class="form-group col-12">
                            <label for="comfirm">confirm your email</label>
                            <input type="email" class="form-control" id="comfirm">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-solid">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!-- edit address modal start -->